<h1>Edit your clinic</h1>

<%= render "form", user: @user, clinic: @clinic %>

<div class="d-flex justify-content-start text-center mt-5">
  <%= link_to 'â† Back', clinic_path(@clinic), class: "btn btn-outline-secondary" %>
</div>
