// Define variables for your color scheme

//Primary Colors
$primary_green:	#3CCD99; // main branding elements like buttons, links, and icons related to vets
$primary_blue:	#3887BE; // for navigation, headers, or highlighted text

//Accent color
$dark_green: #007F73; // Accent - for text, icons, or subtle accents

//Neutral colors
$light-gray:	#F5F5F5; // Background, light borders
$gray: #B0BEC5; // Secondary Elements for backgrounds and light dividers
$dark_gray: #333333; //Text (for main text)

// Colors for bootstrap (Feedback colors)
$green: #28a745; //messages and actions that indicate successful outcomes ("Appointment Confirmed.")
$blue: #17a2b8; //informational messages or hints, ("Please check your pet’s details)
$red: #dc3545; //errors or warnings, ("Payment Failed)
$yellow: #FFC107; //grab attention for important but not critical information ("Appointment in 10 minutes)
