.btn-on-primary {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.4rem 1rem;
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 1rem; // Adds space between the button and the login link


  &:hover {
    background-color: #ffffff;
    color: $primary_green;
  }
}
