.nav-filter {
  border-radius: 12px;
  border: solid grey 1px;
  margin-left: 4px;
}

.filter-container {
  box-shadow: 0 0 0 0.1px lightgray;
}

.filter-ul .dropdown-item:hover {
  background-color: #e2e6ea;
  color: #000;
}
