<h1>Change booking</h1>
<%= render 'form', booking: @booking, clinic: @clinic  %>

<div class="d-flex justify-content-start text-center mt-5">
  <%= link_to 'â† Back', booking_path(@booking), class: "btn btn-outline-secondary" %>
</div>
