<h1>Edit Profile</h1>



<%= simple_form_for [@user] do |f| %>

  <%= f.input :description %>

  <%= f.submit 'Update description', data: { confirm: "Are you sure?" } %>
<% end %>

<div class="d-flex justify-content-start text-center mt-5">
  <%= link_to 'â† Back', user_path(@user), class: "btn btn-outline-secondary" %>
</div>
