<div class="container mt-4">
  <h1 class="mb-3 text-center"><strong>Vet profile</strong></h1>
  <div class="boundary"></div>
  <div class="row">
    <div class="col-12 mb-4 d-flex align-items-center justify-content-center">
      <div class="pet-card-container p-3">
        <div class="pet-card">
          <div class="pets-image-container">
            <%= image_tag 'ashkan.jpg', alt: 'vet image', class: 'img-fluid pet-image' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 px-4">
      <div class="pet-card-details text-center">
        <div class="pet-stats row">

          <div class="col-6 col-md-6 mb-3 mb-md-0" id="pet-list-left">
            <ul class="pet-list text-left">

            </ul>
          </div>

          <div class="col-6 col-md-6" id="pet-list-right">
            <ul class="pet-list text-left">

            </ul>
          </div>

          <div class="col-12" id="pet-description">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
