<div class="d-flex flex-column flex-md-row align-items-start align-items-md-center gap-3 flex-grow-1">
  <h3 class="ms-md-4 ms-lg-5 mb-0" id="find-vet-text">Find a veterinarian</h1>
    <div class="col-11 col-md-6 ms-md-0" id="main-search-bar-container">
      <form class="form-inline w-100" method="GET" action= "<%= root_path %>">
        <input class="form-control w-100" type="search" name="query" placeholder="&#128269; Type your town or city" aria-label="Search">
      </form>
    </div>
</div>
