<%= render partial: "shared/filters" %>

<% if params[:query].present? || params[:species].present? || params[:care_type].present? %>
  <div class="container mt-5">
    <h1 class="mb-3">Filtered Vets</h1>
    <div class="row">
      <% if @clinics.any? %>
        <% @clinics.each do |clinic| %>
          <div class="col-md-6 col-lg-4 mb-4">
            <%= render partial: 'shared/vet_card', locals: { clinic: clinic } %>
          </div>
        <% end %>
      <% else %>
        <p>No veterinarians matched your search criteria. Please try different filters or queries.</p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container mt-5">
    <h1 class="mb-3">Best Rated Vets</h1>
    <div class="row">
      <% @clinics.each do |clinic| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <%= render partial: 'shared/vet_card', locals: { clinic: clinic } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
