<%= render partial: "shared/filters" %>

<% if params[:query].present? %>
  <div class="container mt-5">
    <h1 class="mb-3">Veterinarians that matched your search : "<%= params[:query] %>"</h1>
    <div class="row">
      <% if @clinics.any? %>
        <% @clinics.each do |clinic| %>
          <div class="col-md-6 col-lg-4 mb-4">
    <%= render partial: 'shared/vet_card', locals: { clinic: clinic } %>
          </div>
        <% end %>

<% else %>
        <p>No veterinarians matched your search. Please try a different query.</p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container mt-5">
  <h1 class="mb-3">Best rated veterinarians near you</h1>
  <div class="row">
    <% @all_clinics.each do |clinic| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="clinic-card p-1 border rounded text-center" style="background-color: #f8f9fa;">
       <%= render partial: 'shared/vet_card', locals: { clinic: clinic } %>
        </div>
      </div>
    <% end %>
  </div>

</div>
