<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">
      Rating: <%= review.rating %> / 5
    </h5>
    <p class="card-text"><%= review.content %></p>
    <p class="card-text">
    <small class="text-muted">Reviewed by <%= "#{review.user.first_name}" %></small>
    </p>
  </div>
</div>
