
<%= render 'form', booking: @booking, review: @review %>

<div class="d-flex justify-content-start mt-3">
  <%= link_to "â† Back", booking_path(@booking), class: "btn btn-outline-secondary" %>
</div>
